*.a
*.o
src/build/
src/lib/drkey/libdrkey.h

cs-defense/c
cs-defense/s
cs-defense/gen-cache/
cs-defense/gen/ASff00_0_110/ISD1-B1-S1.trc
cs-defense/gen/ASff00_0_110/certs/
cs-defense/gen/ASff00_0_110/crypto/
cs-defense/gen/ASff00_0_110/keys/
cs-defense/gen/ASff00_0_111/ISD1-B1-S1.trc
cs-defense/gen/ASff00_0_111/certs/
cs-defense/gen/ASff00_0_111/crypto/
cs-defense/gen/ASff00_0_111/keys/
cs-defense/gen/ASff00_0_112/ISD1-B1-S1.trc
cs-defense/gen/ASff00_0_112/certs/
cs-defense/gen/ASff00_0_112/crypto/
cs-defense/gen/ASff00_0_112/keys/
cs-defense/gen/ISD1/trcs/
cs-defense/gen/certs/
cs-defense/gen/trcs/
cs-defense/logs/

testnet/c
testnet/s
testnet/gen-cache/
testnet/gen-eh/ASff00_0_111/certs/
testnet/gen-eh/ASff00_0_111/crypto/
testnet/gen-eh/ASff00_0_111/keys/
testnet/gen-eh/ASff00_0_112/certs/
testnet/gen-eh/ASff00_0_112/crypto/
testnet/gen-eh/ASff00_0_112/keys/
testnet/gen/ASff00_0_110/ISD1-B1-S1.trc
testnet/gen/ASff00_0_110/certs/
testnet/gen/ASff00_0_110/crypto/
testnet/gen/ASff00_0_110/keys/
testnet/gen/ASff00_0_111/ISD1-B1-S1.trc
testnet/gen/ASff00_0_111/certs/
testnet/gen/ASff00_0_111/crypto/
testnet/gen/ASff00_0_111/keys/
testnet/gen/ASff00_0_112/ISD1-B1-S1.trc
testnet/gen/ASff00_0_112/certs/
testnet/gen/ASff00_0_112/crypto/
testnet/gen/ASff00_0_112/keys/
testnet/gen/ISD1/trcs/
testnet/gen/certs/
testnet/gen/trcs/
testnet/logs/
